version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/npm-module"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 25
    groups:
      npm-minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      npm-major:
        patterns:
          - "*"
        update-types:
          - "major"

  - package-ecosystem: gomod
    directory: "/crosslinker"
    schedule:
      interval: monthly
    open-pull-requests-limit: 25
    groups:
       crosslinker-dependencies:
          patterns:
            - "*" # Match all dependencies to one PR.

  - package-ecosystem: cargo
    directory: "/downloader"
    schedule:
      interval: weekly
    open-pull-requests-limit: 25
    groups:
       downloader-dependencies:
          patterns:
            - "*" # Match all dependencies to one PR.
  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 25
    groups:
       ci-dependencies:
          patterns:
            - "*" # Match all dependencies to one PR.
