name: Minifier / Nim - Build

on: [pull_request]

defaults:
  run:
    working-directory: minifier

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: '1.6.0'
      - run: nimble install -y
      - run: nimble build